input { 
    font-family: inherit; 
}

input[type=file], label { 
   font-size: 18;
   vertical-align: middle;
}

.name {
    color: red;
}

.flag {
   width: 24px;
   height: 24px;
   vertical-align: middle;
}
